/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #ffffff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

h1, h2, h3 {
    font-family: montserrat, sans-serif;
    font-size: 30px;
    color: #ad987d;
}

/* Game area */
main {
    background-color: #2F2F2F;
    width: 70%;
    margin: auto;
    height: 550px;
    border-radius: 20px;
}

.display {
    display: none;
}

.text-align {
    text-align: center;
}

.btn {
    padding: 20px;
    width: 130px;
    border-radius: 5px;
    background-color: #e1e1e1;
    color: #212123;
    font-size: 16px;
}

/* Landing page */
.landing-page {
    height: 100%;
}

.landing-page h2 {
    margin: 50px;
    text-transform: capitalize;
}

#username {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    margin: 50px;
}

.play-btn {
   margin-bottom: 30px;
}

/* Choose categories section */
.choose-categories {
    height: 100%;
}

.categories-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.choose-categories h2 {
    margin: 40px;
    font-size: 30px;
    text-transform: capitalize;
}

.categories {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    margin: 19px;
    background-color: #e1e1e1;
    color: #212123;
}

/* Play area */
.play-area {
    height: 100%;
}

.play-area-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.info-bar {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
}

.score-container {
    display: flex;
}

#score {
    margin-right: 10px;
}

.timer-container {
    display: flex;
}

#timer { 
    margin-right: 5px;
}

#question {
    margin: 50px;
}

.answer {
    width: 45%;
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: #e1e1e1;
    color: #212123;
}

/* Feeback area */

#feedback-page {
    height: 100%;
}

.feedback-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-area h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* High Score */
.highscores {
    height: 100%;
}

.highScores-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.highScores-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highScores-container ul {
    margin: 30px;
}

.highScores-container li {
    margin-bottom: 10px;
    list-style: none;
}

/* Rules Section */

#rules-section {
    height: 100%;
}

.rules-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px;
}

.rules-section h2 {
    margin: 50px;
}

.rules-content {
    text-align: justify;
    margin: 10px;
}

.rules-section button {
    margin-top: 50px;
}

/* check answers */
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* Media Queries */

/* From 1231px wide and down */

@media screen and (min-width: 1231px) {

    /* Game Area */
    main {
        height: 600px;
        max-width: 1200px;
    }

    /* Landing Page */
    .landing-page h2 {
        margin: 70px;
    }

    form {
        margin: 20px;
    }

    .landing-page-btn {
        margin: 50px;
    }

    /* Categories Page */
    .categories {
        width: 50%;
    }

    /* Rules Page */
    .rules-container{
        margin: 0 20px;
    }

    .rules-container p {
        font-size: 20px;
    }

    /* Play Area */
    .answer {
        width: 36%;
        padding: 40px;
    }
}

/* From 1173px wide and down */
@media screen and (max-width: 1173px) {

    body {
        font-size: 20px;
    }

    h2, h3 {
        font-size: 25px;
    }

    /* Categories */
    .categories-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categories {
        margin: 10px;
    }
}

/* From 825px wide and down */

@media screen and (max-width: 825px) {

    body {
        font-size: 16px;
    }

    h2, h3 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        width: 100px;
        padding: 15px;
    }

    /* Categories Page */
    
    .choose-categories h2 {
        font-size: 25px;
    }

    .categories {
        width: 45%;
        padding: 25px;
        border-radius: 10px;
        margin: 12px;
        background-color: #F1F2ED;
    }

    /* Play Area */

    .answer {
        width: 40%;
        padding: 25px;
        margin: 10px;
        border-radius: 15px
    }
}

/* From 600px wide and down */

@media screen and (max-width: 600px) {

    body {
        font-size: 14px;
    }

    main {
        width: 90%;
        height: 90%;
    }

    h2, h3 {
        font-size: 16px;
    }

    /* Landing Page */

    #username {
        width: 50%;
    }

    /* Categories */

    .categories-content h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .categories-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 65%;
    }

    .categories {
        width: 93%;
        margin: 10px;
    }

    #question {
        margin: 30px;
    }

    .answer-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .answer {
        width: 70%;
        margin: 5px;
    }

    /* Rules */

    .rules-container p {
        font-size: 14px;
    }

    /* Feedback Area */

    .feedback-area h2 {
        font-size: 25px;
    }
}

/* From 425px wide and down */

@media screen and (max-width: 425px) {

    main {
        height: 100%;
        width: 100%;
    }

    body {
        font-size: 16px;
    }

    h2, h3 {
        font-size: 18px;
    }

    /* Landing Page */

    .landing-page h2 {
        margin: 50px 5px 50px;
        font-size: 18px;
    }   

    .play-btn {
        margin: 10px;
    }

    #play {
        width: 80%;
        margin-top: 15px;
    }

    .landing-page p {
        margin: 40px;
        font-size: 16px;
    }

    .landing-page-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #rules {
        margin-bottom: 10px;
        width: 76%;
    }

    #highscore-button {
        width: 76%;
    }

    #username {
        margin: 30px;
        width: 70%;
        padding: 10px;
    }

    /* Play Area */

    #score {
        margin-right: 3px;
    }

    .answer {
        padding: 20px;
    }

    .info-bar {
        font-size: 14px;
    }

    #question {
        font-size: 16px;
    }

    /* Feedback Area */

    #play-again {
        margin-bottom: 10px;
    } 
} 

/* From 350px wide and down */

@media screen and (max-width: 350px) {

    body {
        font-size: 16px;
    }

    main {
        height: 98%;
        width: 98%;
    }

    h2, h3 {
        font-size: 18px;
    }
 
    /* Landing Page */

    .landing-page h2 {
        margin: 60px 10px 60px;
    }

    .landing-page p {
        margin: 0 10px 30px;
    }

    #username {
        margin: 35px 0 35px;
        width: 70%;
    }

    #play {
        width: 80%;
        margin-top: 0;
    }

    .btn {
        width: 74%;
    }

    /* Categories */

    .categories-content {
        justify-content: center;
    }

    .categories-content h2 {
         margin: 50px 10px 50px;
    }

    .categories-container {
        width: 100%;
    }

    /* Play Area */

    #question {
        font-size: 18px;
    }

    /* Feedback Area */

    .play-again-container {
        width: 70%;
    }

    /* Rules */

    .rules-btn-container {
        width: 70%;
    }

    .home {
        width: 74%;
    }

    /* HighScore */

    #close {
        width: 100px;
    }

}