/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #ffffff;
  /*  background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: montserrat, sans-serif;
    font-size: 30px;
}

/* Heading */
.heading {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

/* Game area */
main {
    background-color: #2F2F2F;
    width: 70%;
    margin: auto;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
}

.display {
    display: none;
}

.text-align {
    text-align: center;
    margin: 20px;
}

.btn {
    padding: 20px;
    width: 130px;
    border-radius: 5px;
    background-color: #F1F2ED;
    color: #2F2F2F;
    font-size: 16px;
}

/* Landing page */
.landing-page {
    height: 100%;
}

.landing-page h2 {
    margin: 50px;
}

#username {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    margin: 50px;
}

.play-btn {
   margin-bottom: 30px;
}

/* Choose categories section */
.choose-categories {
    height: 100%;
}

.categories-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.choose-categories h2 {
    margin: 40px;
    font-size: 35px;
}

.categories {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    margin: 19px;
    background-color: #F1F2ED;
}

/* Play area */
.play-area {
    height: 100%;
}

.play-area-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.info-bar {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
}

.score-container {
    display: flex;
}

#score {
    margin-right: 10px;
}

.timer-container {
    display: flex;
}

#timer { 
    margin-right: 5px;
}

#question {
    margin: 50px;
}

.answer {
    width: 45%;
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
    text-align: initial;
}

/* Feeback area */

#feedback-page {
    height: 100%;
}

.feedback-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-area h2 {
    font-size: 40px;
}

/* Hiscore */
.hiscores {
    height: 100%;
}

.highScores-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

/* Rules Section */

#rules-section {
    height: 100%;
}

.rules-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.rules-section h2 {
    margin: 50px;
}

.rules-content {
    text-align: justify;
    margin: 10px;
}

.rules-section button {
    margin-top: 50px;
}

/* check answers */
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* Media Queries */

/* From 1231px wide and down */

@media screen and (max-width: 1231px) {

    /* Categories Page */
    .categories {
        width: 30%;
    }

    /* Rules Page */
    .rules-container p {
        font-size: 18px;
    }
}

/* From 825px wide and down */

@media screen and (max-width: 825px) {

    body {
        font-size: 16px;
    }

    h2, h3 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        width: 100px;
        padding: 15px;
    }

    /* Categories Page */
    
    .choose-categories h2 {
        font-size: 25px;
    }

    .categories {
        width: 30%;
        padding: 25px;
        border-radius: 10px;
        margin: 19px;
        background-color: #F1F2ED;
    }

    /* Play Area */

    .answer {
        width: 40%;
        padding: 25px;
        margin: 10px;
        border-radius: 15px
    }
}

/* From 600px wide and down */

@media screen and (max-width: 600px) {

    body {
        font-size: 14px;
    }

    h2, h3 {
        font-size: 16px;
    }

    /* Landing Page */

    #username {
        width: 50%;
        padding: 5px;
    }

    /* Categories */

    .categories-content h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .categories-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 65%;
    }

    .categories {
        width: 93%;
        margin: 10px;
    }

    /* Play Area */

    .play-area-container {
        justify-content: flex-start;
    }

    #question {
        margin: 20px;
    }

    .answer-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .answer {
        width: 70%;
        margin: 5px;
    }

    /* Rules */

    .rules-container p {
        font-size: 14px;
    }

    /* Feedback Area */

    .feedback-area h2 {
        font-size: 30px;
    }
}